body {
  background: rgba(82, 67, 8, 0.589);
}

.calculator {
  width: 700px;
  display: flex;
  flex-direction: column;
}

.navbar {
  background: rgb(87, 85, 3);
  border-radius: 5%;
}

.navbar h2 {
  margin-top: 25px;
  color: rgba(12, 94, 12, 0.671);
  margin-left: 20px;
}

.navbar ul li {
  display: inline;
  margin-left: 20px;
}

.navbar ul li:hover {
  color: green;
}

.title {
  margin-left: 30px;
  color: green;
}

.calculator .home {
  margin-left: 20px;
  font-size: 19px;
}

.quote {
  color: orange;
}

.day-quote {
  font-size: 31px;
}

.day-quote span {
  color: white;
}

.home-title {
  margin-top: -410px;
}

.text {
  margin-left: 20px;
  font-size: 20px;
}
