.button-shape {
  display: flex;
  flex-direction: column;
  background: black;
}

.button-panel > div {
  height: 100px;
}

.button-shape button {
  height: 100%;
  width: 25%;
  color: black;
}

.button-shape button:hover {
  color: rgba(167, 76, 76, 0.479);
  background-color: rgba(6, 65, 52, 0.63);
}
